@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Mantine core styles */
@import '@mantine/core/styles.css';
@import '@mantine/charts/styles.css';

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}